{% extends "../base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<form action="" method="get">
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputKeyword" class="col-form-label"
        >검색어를 입력하세요</label
      >
    </div>
    <div class="col-auto">
      <input
        type="text"
        id="inputKeyword"
        class="form-control"
        aria-describedby="passwordHelpInline"
        name="q"
        value="{{ q }}"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">검색</button>
    </div>
  </div>
</form>
<table class="table table-bordered table-hover">
  <tbody>
    {% for post in post_list %}
    <tr>
      <td>{{post.pk}}</td>
      <td>
        <a href="{% url "instagram:post_detail" post.pk %}">
          {{post.message}}
        </a>
      </td>
      {% if post.photo %}
      <td><a href="{% url "instagram:post_detail" post.pk %}"><img src="{{post.photo.url}}" width="100px" /></a></td>
      {% else %}
      <td>No Photo Detected</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% bootstrap_pagination page_obj size="lg" justify_content="center" %}
{% endblock %}
